/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginPage {
    width: 100%;
    height: 100vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginArea {
    width: 500px;
    height: 700px;
    background-color: #353535;
    box-shadow: 0 0 10px 35px #212121;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.loginTitle {
    width: 100%;
    height: 300px;
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    padding-top: 180px;
    color: goldenrod;
    padding-left: 30px;
    text-shadow: 0 0 2px #000;
}

.loginInput {
    width: 100%;
    height: 100px;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputArea {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #484848;
    border-top: 1px solid #484848;
    border-right: 1px solid #484848;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconInput {
    width: 10%;
    height: 100%;
    background-color: #e0ce2b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputField {
    width: 90%;
    height: 100%;
}

.loginField {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background: transparent;
    color: goldenrod;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}
.loginButton {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginButton button {
    width: 250px;
    height: 50px;
    background: transparent;
    border: 3px solid goldenrod;
    border-radius: 30px;
    font-size: 18px;
    color: goldenrod;
    cursor: pointer;
}
.loginButton button:hover {
    background-color: goldenrod;
    color: #212121;
    border: 3px solid gold;
    transition: 0.3s ease;
}

.loginDisclaimer {
    width: 100%;
    height: 30px;
    margin-top: 130px;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
}