/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topBar {
    width: 100%;
    height: 60px;
    background-color: #353535;
    display: flex;
    flex-direction: row;
}
.topBarLeft {
    width: 15%;
    height: 100%;
    color: gold;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topBarRight {
    width: 85%;
    height: 100%;
    color: gold;
    line-height: 60px;
    font-family: 'Titillium Web', sans-serif;
}
.topBarRight p {
    float: right;
    margin-right: 5%;
    font-size: 18px;
}
.menuBar {
    width: 13%;
    height: calc(100vh - 60px);
    float: left;
    background-image: linear-gradient(#353535, #353535, #353535, #353535, goldenrod);
    position: absolute;
}
.menuItens {
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 80px;
}
.menuItens ul {
    list-style: none;
}
.menuItens li {
    color: #FFF;
    padding: 20px;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 20%;
    display: block;
    cursor: pointer;
}
.menuItens li:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    color: gold;
}
.menuItens a {
    text-decoration: none;
}
.data {
    width: 87%;
    height: calc(100vh - 60px);
    margin-left: 13%;
}

#addArea {
    height: 0px;
    overflow: hidden;
    transition: ease 0.5s;
}

.displayArea {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #EEE;
    display: flex;
    flex-direction: column;
}

.topArea {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #CCC;
    background-color: #EEE;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    width: 100%;
    height: 50px;
    color: #353535;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.filterArea {
    width: 15%;
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
}

.filterArea label {
    font-weight: bold;
}
.filterArea button {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.showArea {
    width: 100%;
    height: calc(100vh - 60px - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

